@import "tailwindcss";

body {
  background-color: #6a7d7b;
   
}

.ab {
  background-color: rgb(228, 228, 159);
}

.db:disabled {
 background-color:rgb(159, 194, 178)
}

.qt {
  background-color: tomato;
}